@import "bootstrap-values";

#root, .max-container, #body {
    display: flex;
    flex-direction: column;
    #root, .max-container {
        min-height: 100vh;
    }
}


#header {
    background-color: color('#eee');
}

#body {
    flex-grow: 1;
    justify-content: center;
    text-align: center;
}



.xs-to-sm {
    display: none;
    @media @d-xs, @d-sm {
        display: initial;
    }
}

.no-results-text {
    font-size: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.responsive-breakable {
    word-wrap: break-word;
    width: 10px;
}

.superfluous-text {
    @media @d-xs, @d-sm {
        display: none;
    }
}

#header-search {
    input, button {
        border-radius: 0;
    }

    #search-input {
        width: 35vw;
        @media @d-xs, @d-sm {
            width: 20vw;
        }
    }
}

.card-columns {

    @media @d-xs, @d-sm {
        column-count: 1;
    }

    @media @d-sm, @d-md {
        column-count: 2;
    }
}

.card {
    border-width: 0;
}

.card-button {
    position:absolute;
    bottom:10px;
    right:10px;
}

@media @d-xs {
    .resizable-text {
        font-size: 0.2em;
    }
}